body {
    background-color: peachpuff;
}

header {
    text-align: center;
}

p {
    text-align: center;
    font-size: 25px;
}

img {
    height: 300px;
    width: 400px;
}
ul {
    font-size: 20px;
}