p {
    width: 600px;
    background-color: indianred;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 3px;
    font: 20px bold monospace;
}

header {
    width: 607px;
    height: 80px;
    background-color: mediumblue;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 50px;
    font: 20px bold monospace;
}

table {
    width: 607px;
    margin: 0 auto;
    height: 250px;
    border-collapse: collapse;
}

#first {
    width: 350px;
    background-color: limegreen;
    text-align: center;
    color: white;
    padding-top: 20px;
    font: 20px bold monospace;
}

#second {
    width: 250px;
    background-color: darkolivegreen;
    text-align: center;
    color: white;
    padding-top: 20px;
    font: 20px bold monospace;
}

footer {
    width: 607px;
    height: 40px;
    margin: 0 auto;
    background-color: darkgoldenrod;
    text-align: center;
    color: white;
    padding-top: 25px;
    font: 20px bold monospace;
}